@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

.navbar-brand {
    font-family: 'Pacifico', monospace;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    .list {
      flex: 0 0 auto;
    }
    
  }