@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import "~bootswatch/dist/cerulean/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cerulean/bootswatch";

.navbar-brand {
    font-family: 'Pacifico', monospace;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    .list {
      flex: 0 0 auto;
    }
    
  }

  .form {
    padding: 1em;
  }
  
  label {
    display: flex;
    font-weight: 600;
  }

  .SignInUpForms {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 100px;
  }
  
  .spinner {
    margin: 50px;
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #1d9ce5;
    border-right-color: transparent;
    border-radius: 50%;
  }

  .btn-circle {
    width: 100%;
    height: 100%;
    padding: 6px 6px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 1.42857;
  }

  .text-in-bounds {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }


  @keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }

  .boardTitle {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }